.m0{
    margin: 0px;
}
.color{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-UCi3cGdJ984%2FUHAfm5bjEBI%2FAAAAAAAALJQ%2FPMOFOXPF5D0%2Fs1600%2FDesert%2BWallpapers%2B5.jpg&f=1&nofb=1");
    height: 1000px;
    width: 1600px;
}
.box{
    height: 500px;
    width: 500px;
    background-color: #e1dede;
    margin: 200px;
    border-radius: 10px;
    border-style: solid;
    border-color: navy

}
/*Flex*/

.d-flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}
.input{
    border:none;

}
.padding{
    padding: 150px;
}